body {
    background-color: cornflowerblue;
}
.back {
    background-color: navy;
    width: 1000px;
    height: 650px;
    border-radius: 10px;
}
.left {
    background-color: navy;
    width: 300px;
}
.white {
    margin-left: 50px;
    color: white;
}
.gray {
    color: gainsboro;
    margin-left: 50px;
}
.img{
    margin-left: 50px;
    width: 30px;
    height: 30px;
}
.gray1 {
    color: gainsboro;
    margin-left: 5px;
}
.contactlist {
    list-style: none;
}
.sociallist {
    list-style: none;
}

